@* @model dynamic *@
@* *@
@* @{ *@
@*     ViewBag.Title = "title"; *@
@*     Layout = "_Layout"; *@
@* } *@
@* *@
@* @if (ViewBag.Status != null) *@
@* { *@
@*     <h2>@ViewBag.Status</h2> *@
@* } *@

@model Presentation.Controllers.HomeController.FightModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@Html.DisplayFor(model => model.Character)

@foreach (var str in Model!.Log.Split('\n'))
{
    <p>@str</p>
}

