@model Character

@{
    ViewData["Title"] = "Dnd";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Fight" method="post">
        <select id="ddlViewBy" name="characterId">
            @if (ViewBag.Characters != null)
            {
                @foreach (var character in ViewBag.Characters)
                {
                    <option value="@character.Id">
                        @character.Name
                    </option>
                }
            }
        </select>
        <button type="submit">Fight!</button>
    </form>
    
    <p>--------------------------</p>
    OR YOU CAN ADD YOUR CHARACTER:
    <p>--------------------------</p>
    <form asp-controller="Home" asp-action="AddCharacter">
        @Html.EditorForModel()
        <input type="submit"/>
    </form>
</div>