@{
    ViewData["Title"] = "Dnd";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Fight" method="post">
        <select name="characterId">
            @if (ViewBag.Characters != null)
            {
                @foreach (var character in ViewBag.Characters)
                {
                    <option value="@character.Id">
                        @character.Name
                    </option>
                }
            }
        </select>
        
        <select name="monsterId">
            @if (ViewBag.Monsters != null)
            {
                @foreach (var monster in ViewBag.Monsters)
                {
                    <option value="@monster.Id">
                        @monster.Name
                    </option>
                }
            }
        </select>
        
        <button type="submit">Fight!</button>
    </form>
</div>